In [1]:
# Q1. Create a python program to sort the given list of tuples based on integer value using a
# lambda function.
# [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [6]:
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
l1 = sorted(l,key = lambda t : t[1])
l1

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [7]:
l[1][1]

27483

In [8]:
# Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
# lambda and map functions.
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ans = map(lambda x : x**2,l2)
for i in ans:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [4]:
# Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
# lambda functions
# Given list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [7]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l4 = tuple(map(lambda x : str(x),l))
l4

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [8]:
# Q4. Write a python program using reduce function to compute the product of a list containing numbers
# from 1 to 25.

In [9]:
from functools import reduce

In [41]:
l = [  x for x in range(26) if x > 0]
reduce(lambda a,b:a*b,l)

15511210043330985984000000

In [42]:
p = 1
for i in l:
    p *= i
# l[10]
print(p)

15511210043330985984000000

In [43]:
# Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
# filter function.

# [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [48]:
l5 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
l7 = filter(lambda x : x % 2 == 0 and x % 3 ==0,l5)
for i in l7:
    print(i)

6
60
90
120

In [49]:
# Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
# function.

# ['python', 'php', 'aba', 'radar', 'level']

In [51]:
l6 = ['python', 'php', 'aba', 'radar', 'level']
l8 = list(filter(lambda x : x == x[::-1],l6))
l8

['php', 'aba', 'radar', 'level']