In [1]:
#Question 1

In [2]:
#i) String
s = "Pwskills"

#ii) list
l = [1,3,s, 'r',3+5j,3.33344]

#ii) float
f = 3.23425

#iv) tuple
t = (1,3,s,l,f,3+7j)

In [3]:
#Question 2

In [5]:
#i) string
var1 = ''

#ii) string 
var2 = '[DS, ML, Python]'

#iii) list
var3 = ['DS', 'ML', 'Python']

#iv) int
var4 = 1

In [6]:
#Question 3

In [9]:
#i) '/' gives quotient of division
9/2

4.5

In [11]:
#ii) '%' gives remainder of division
9%2

1

In [12]:
#iii) '//' gives integer value of quotient of division
9//2

4

In [14]:
#iv) '**' implies the power of a number here 2 is the power of 9
9**2

81

In [15]:
#Question 4

In [17]:
l1 = [2,3,s, 'r',3+5j,3.33344,"Gopal",True,{1,3+5j,3.33344,"Gopal",True},(3+5j,3.33344,"Gopal",True)]
for i in l1:
    print(str(i) + str(type(i)))

2<class 'int'>
3<class 'int'>
Pwskills<class 'str'>
r<class 'str'>
(3+5j)<class 'complex'>
3.33344<class 'float'>
Gopal<class 'str'>
True<class 'bool'>
{1, (3+5j), 3.33344, 'Gopal'}<class 'set'>
((3+5j), 3.33344, 'Gopal', True)<class 'tuple'>

In [18]:
#Questioon 5

In [31]:
print('Enter num 1')
a = int(input())
print('Enter num 2')
b = int(input())

n = a
times = 0

while n >= b:

    if n % b == 0:
        times = times + 1
        n = n / b
    else :
        print("A is not divisible by B")
        break
    
if times > 0:
    print("A is divisible B and it can divisible by " + str(times) + " times")

Enter num 1

 99

Enter num 2

 3

A is not divisible by B
A is divisible B and it can divisible by 2 times

In [ ]:
#Questioon 6

In [32]:
l2 = [1,2,3,4,5,6,7,8,9,0,12,13,14,15,16,17,18,19,20,21,22,25,23,24]

for i in l2:
    if i % 3 == 0:
        print(str(i) + " is divisible by 3" )
    else:
        print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
0 is divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
25 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

In [36]:
# Question 6
"""In which data type we can modify value in any index these dats types are known as mutable data
and for which we can't modify is known as immutable dsta"""

#mutable data
l = [1,3,6]
s = "gopal"
l[0] = s[0]
l[0]

# s[1] = l[1] this action is not possible

TypeError: 'str' object does not support item assignment